## Import Required Libraries

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Loading the combined T20Is csv

In [2]:
df = pd.read_csv('../Material/T20Is.csv')

## Feature Engineering (Adding features that will help in Predictions)

In [3]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1217744,2019/20,2020-03-04,Terdthai Cricket Ground,1,0.1,Thailand,Nepal,DF Jacobs,N Pathan,S Lamichhane,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1217744,2019/20,2020-03-04,Terdthai Cricket Ground,1,0.2,Thailand,Nepal,DF Jacobs,N Pathan,S Lamichhane,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1217744,2019/20,2020-03-04,Terdthai Cricket Ground,1,0.3,Thailand,Nepal,DF Jacobs,N Pathan,S Lamichhane,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1217744,2019/20,2020-03-04,Terdthai Cricket Ground,1,0.4,Thailand,Nepal,DF Jacobs,N Pathan,S Lamichhane,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1217744,2019/20,2020-03-04,Terdthai Cricket Ground,1,0.5,Thailand,Nepal,DF Jacobs,N Pathan,S Lamichhane,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
398612,1142914,2018,2018-07-02,Harare Sports Club,2,10.1,Australia,Pakistan,TM Head,AJ Finch,Shadab Khan,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398613,1142914,2018,2018-07-02,Harare Sports Club,2,10.2,Australia,Pakistan,AJ Finch,TM Head,Shadab Khan,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398614,1142914,2018,2018-07-02,Harare Sports Club,2,10.3,Australia,Pakistan,TM Head,AJ Finch,Shadab Khan,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398615,1142914,2018,2018-07-02,Harare Sports Club,2,10.4,Australia,Pakistan,AJ Finch,TM Head,Shadab Khan,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398616,1142914,2018,2018-07-02,Harare Sports Club,2,10.5,Australia,Pakistan,AJ Finch,TM Head,Shadab Khan,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.batting_team.unique()

array(['Thailand', 'Nepal', 'Malta', 'Belgium', 'Namibia', 'Uganda',
       'Japan', 'South Korea', 'Oman', 'Hong Kong', 'Australia',
       'Pakistan', 'Ireland', 'Afghanistan', 'West Indies', 'England',
       'Portugal', 'Spain', 'India', 'South Africa', 'Zimbabwe',
       'Botswana', 'Ghana', 'Bahrain', 'Philippines',
       'United Arab Emirates', 'Sri Lanka', 'Bangladesh', 'New Zealand',
       'Canada', 'Luxembourg', 'Hungary', 'Netherlands', 'Nigeria',
       'Sierra Leone', 'Tanzania', 'Mozambique', 'Belize',
       'United States of America', 'Czech Republic', 'Bulgaria', 'Norway',
       'Guernsey', 'Bermuda', 'Jersey', 'Panama', 'Cameroon', 'Scotland',
       'Romania', 'Papua New Guinea', 'Germany', 'Kenya', 'Singapore',
       'Gibraltar', 'Indonesia', 'Malaysia', 'Italy', 'Qatar', 'Finland',
       'Sweden', 'Bahamas', 'Argentina', 'Maldives', 'Saudi Arabia',
       'Denmark', 'Malawi', 'Vanuatu', 'Serbia', 'Greece', 'ICC World XI',
       'Bhutan', 'Rwanda', 'Seychelles', 'Austria', 'Estonia', 'France',
       'Cayman Islands', 'Cook Islands', 'Swaziland', 'Fiji', 'Samoa',
       'Lesotho', 'Kuwait', 'Isle of Man', 'Slovenia', 'Switzerland',
       'Gambia', 'Eswatini', 'Cyprus', 'St Helena', 'Israel', 'Mali',
       'Croatia', 'Turkey', 'Iran'], dtype=object)

In [6]:
major_teams = ['Australia', 'Bangladesh', 'England', 'India', 'New Zealand', 'Pakistan', 'South Africa', 'Sri Lanka', 'West Indies']

In [7]:
df = df[df['batting_team'].isin(major_teams)]
df = df[df['bowling_team'].isin(major_teams)]

In [8]:
df['batting_team'].unique()

array(['Australia', 'Pakistan', 'West Indies', 'England', 'India',
       'South Africa', 'Sri Lanka', 'Bangladesh', 'New Zealand'],
      dtype=object)

In [9]:
df['bowling_team'].unique()

array(['Pakistan', 'Australia', 'England', 'West Indies', 'India',
       'South Africa', 'Bangladesh', 'Sri Lanka', 'New Zealand'],
      dtype=object)

In [10]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

### Creating the required feature data using the current data

In [11]:
df = df.sort_values(['match_id', 'innings'], ascending=[True, True])
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
63598,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63599,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63600,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63601,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63602,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['over'] = df['ball']
df['overs'] = df['ball']

In [13]:
df['over'] = df['over'].apply(np.int64)

In [14]:
df['ball'] = df['ball'].astype(str).str[-1:]
df['ball'] = df['ball'].apply(np.int64)

In [15]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,over,overs
63598,211028,2005,2005-06-13,The Rose Bowl,1,1,England,Australia,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.1
63599,211028,2005,2005-06-13,The Rose Bowl,1,2,England,Australia,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.2
63600,211028,2005,2005-06-13,The Rose Bowl,1,3,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.3
63601,211028,2005,2005-06-13,The Rose Bowl,1,4,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.4
63602,211028,2005,2005-06-13,The Rose Bowl,1,5,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.5

In [16]:
df['total_runs'] = df['runs_off_bat'] + df['extras']

In [17]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,over,overs,total_runs
63598,211028,2005,2005-06-13,The Rose Bowl,1,1,England,Australia,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.1,0
63599,211028,2005,2005-06-13,The Rose Bowl,1,2,England,Australia,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.2,1
63600,211028,2005,2005-06-13,The Rose Bowl,1,3,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.3,0
63601,211028,2005,2005-06-13,The Rose Bowl,1,4,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.4,0
63602,211028,2005,2005-06-13,The Rose Bowl,1,5,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.5,0

In [18]:
df = df[['match_id', 'innings', 'batting_team', 'bowling_team', 'overs', 'over', 'ball', 'total_runs', 'player_dismissed']].rename(columns={'match_id':'id'})

In [19]:
df = df.replace(np.nan, 0)

### Total runs scored by the team in an innings

In [20]:
df['total'] = df.groupby(['id', 'innings'])['total_runs'].transform('sum')
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total
63598,211028,1,England,Australia,0.1,0,1,0,0,179
63599,211028,1,England,Australia,0.2,0,2,1,0,179
63600,211028,1,England,Australia,0.3,0,3,0,0,179
63601,211028,1,England,Australia,0.4,0,4,0,0,179
63602,211028,1,England,Australia,0.5,0,5,0,0,179

### Runs scored by the team upto the current ball

In [21]:
df['total_score'] = df.groupby(['id', 'innings'])['total_runs'].apply(lambda x: x.cumsum())
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score
63598,211028,1,England,Australia,0.1,0,1,0,0,179,0
63599,211028,1,England,Australia,0.2,0,2,1,0,179,1
63600,211028,1,England,Australia,0.3,0,3,0,0,179,1
63601,211028,1,England,Australia,0.4,0,4,0,0,179,1
63602,211028,1,England,Australia,0.5,0,5,0,0,179,1

### Runs scored by a team in the previous 30 balls

In [22]:
tmp = df.groupby(['id', 'innings'])['total_runs'].rolling(min_periods=1, window=30).sum().reset_index()
tmp[['total_runs']].head()

   total_runs
0         0.0
1         1.0
2         1.0
3         1.0
4         1.0

In [23]:
df['prev_30_runs'] = tmp['total_runs'].to_list()
df.head(10)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs
63598,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0
63599,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0
63600,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0
63601,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0
63602,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0
63603,211028,1,England,Australia,0.6,0,6,1,0,179,2,2.0
63604,211028,1,England,Australia,0.7,0,7,2,0,179,4,4.0
63605,211028,1,England,Australia,1.1,1,1,0,0,179,4,4.0
63606,211028,1,England,Australia,1.2,1,2,0,0,179,4,4.0
63607,211028,1,England,Australia,1.3,1,3,1,0,179,5,5.0

### Wickets fallen in the previous 30 balls

In [24]:
df['player_dismissed'].unique()

array([0, 'GO Jones', 'A Flintoff', 'KP Pietersen', 'MP Vaughan',
       'ME Trescothick', 'AJ Strauss', 'VS Solanki', 'PD Collingwood',
       'AC Gilchrist', 'ML Hayden', 'MJ Clarke', 'A Symonds',
       'MEK Hussey', 'RT Ponting', 'DR Martyn', 'JN Gillespie', 'B Lee',
       'GD McGrath', 'SM Katich', 'SP Fleming', 'MS Sinclair',
       'BB McCullum', 'CD McMillan', 'CL Cairns', 'HJH Marshall',
       'AR Adams', 'SB Styris', 'JW Wilson', 'KD Mills', 'GC Smith',
       'JH Kallis', 'HH Gibbs', 'JM Kemp', 'SM Pollock', 'MV Boucher',
       'AG Prince', 'CK Langeveldt', 'JA Morkel', 'M Ntini', 'NJ Astle',
       'IR Bell', 'JWM Dalrymple', 'CMW Read', 'Shoaib Malik',
       'Younis Khan', 'Shahid Afridi', 'Mohammad Yousuf',
       'Mohammad Hafeez', 'WU Tharanga', 'DPMD Jayawardene',
       'ST Jayasuriya', 'TM Dilshan', 'RP Arnold', 'KC Sangakkara',
       'MF Maharoof', 'CK Kapugedera', 'SL Malinga', 'CRD Fernando',
       'JR Hopes', 'HH Dippenaar', 'AJ Hall', 'J Botha', 'GJP Kruger',
       'M Zondeki', 'CH Gayle', 'RS Morton', 'DR Smith', 'D Ganga',
       'WW Hinds', 'S Chanderpaul', 'D Ramdin', 'L Vincent', 'PG Fulton',
       'LE Bosman', 'JJ van der Wath', 'SR Watson', 'GB Hogg', 'EC Joyce',
       'J Lewis', 'MS Panesar', 'JEC Franklin', 'LRPL Taylor',
       'JAH Marshall', 'PD McGlashan', 'SE Bond', 'MS Atapattu',
       'HMCM Bandara', 'LPC Silva', 'AB de Villiers', 'RJ Peterson',
       'T Henderson', 'SR Tendulkar', 'V Sehwag', 'MS Dhoni', 'D Mongia',
       'DS Smith', 'DJ Bravo', 'MN Samuels', 'DJG Sammy', 'AN Cook',
       'MJ Prior', 'IJL Trott', 'OA Shah', 'AD Mascarenhas',
       'LMP Simmons', 'ACL Richards', 'RR Sarwan', 'Nazimuddin',
       'Tamim Iqbal', 'Mohammad Ashraful', 'Shakib Al Hasan', 'LJ Wright',
       'DL Maddy', 'CP Schofield', 'SCJ Broad', 'G Gambhir',
       'Yuvraj Singh', 'KD Karthik', 'RV Uthappa', 'IK Pathan',
       'Harbhajan Singh', 'AB Agarkar', 'Imran Nazir', 'Salman Butt',
       'Kamran Akmal', 'Misbah-ul-Haq', 'DL Vettori', 'Aftab Ahmed',
       'Mashrafe Mortaza', 'Alok Kapali', 'Farhad Reza',
       'Mushfiqur Rahim', 'Syed Rasel', 'JP Duminy', 'JDP Oram',
       'JS Patel', 'VD Philander', 'JN Snape', 'J Mubarak', 'G Wijekoon',
       'MR Gillespie', 'BJ Hodge', 'Nadif Chowdhury', 'Mahmudullah',
       'Abdur Razzak', 'NL McCullum', 'WPUJC Vaas', 'Junaid Siddique',
       'YK Pathan', 'Yasir Arafat', 'Sohail Tanvir', 'Umar Gul',
       'AC Voges', 'LA Pomersbach', 'AA Noffke', 'JM How', 'RG Sharma',
       'P Kumar', 'S Sreesanth', 'DR Flynn', 'MJ Mason', 'GJ Hopkins',
       'RN Lewis', 'JL Ontong', 'P Mustard', 'JD Ryder', 'TG Southee',
       'PA Hitchcock', 'MN van Wyk', 'GH Bodi', 'BA Parchment',
       'L Ronchi', 'SE Marsh', 'DJ Hussey', 'XM Marshall', 'WKD Perkins',
       'Dhiman Ghosh', 'Shahadat Hossain', 'DA Warner', 'CL White',
       'JL Denly', 'RS Bopara', 'Raqibul Hasan', 'Naeem Islam',
       'BJ Haddin', 'MG Johnson', 'HM Amla', 'VB van Jaarsveld',
       'RE van der Merwe', 'CJ Ferguson', 'NW Bracken', 'DW Steyn',
       'LL Tsotsobe', 'MC Henriques', 'MJ Guptill', 'NT Broom',
       'SM Davies', 'GJ Batty', 'A Khan', 'ADS Fletcher', 'SK Raina',
       'Ahmed Shehzad', 'NM Hauritz', 'JS Foster', 'GP Swann',
       'JM Anderson', 'KMDN Kulasekara', 'Fawad Alam', 'Mohammad Amir',
       'KA Pollard', 'JE Taylor', 'AJ Redmond', 'Abdul Razzaq',
       'Shahzaib Hasan', 'RA Jadeja', 'Z Khan', 'SJ Benn', 'I Udana',
       'ML Udawatte', 'SHT Kandamby', 'T Thushara', 'Shoaib Khan jnr',
       'K Weeraratne', 'CS Baugh', 'SE Findlay', 'FH Edwards',
       'EJG Morgan', 'TT Bresnan', 'AU Rashid', 'MJ North',
       'BW Hilfenhaus', 'Mehrab Hossain jnr', 'DM Richards', 'FL Reifer',
       'Umar Akmal', 'AD Mathews', 'M Muralitharan', 'RJMGM Rupasinghe',
       'TR Birt', 'SPD Smith', 'N Deonarine', 'TM Dowlin', 'DP Nannes',
       'SW Tait', 'Imran Farhat', 'Khalid Latif', 'Naved-ul-Hasan',
       'LD Chandimal', 'Imrul Kayes', 'M Vijay', 'Saeed Ajmal', 'MJ Lumb',
       'C Kieswetter', 'Shafiul Islam', 'Jahurul Islam', 'A Nehra',
       'Abdur Rehman', 'M Morkel', 'S Randiv', 'BAW Mendis', 'MH Yardy',
       'PJ Ingram', 'DR Tuffey', 'TD Paine', 'Shoaib Akhtar',
       "SNJ O'Keefe", 'BJ Watling', 'IG Butler', 'AB Dinda',
       'CU Jayasinghe', 'AN Petersen', 'NO Miller', 'Sarfraz Ahmed',
       'JW Hastings', 'DA Miller', 'RJ Nicol', 'NLTC Perera', 'AJ McKay',
       'Zulqarnain Haider', 'CA Ingram', 'V Kohli', 'WD Parnell',
       'DG Brownlie', 'Asad Shafiq', 'Wahab Riaz', 'SR Patel',
       'CR Woakes', 'PA Patel', 'R Dravid', 'AM Rahane', 'R Ashwin',
       'MM Patel', 'AD Hales', 'DM Bravo', 'DP Hyatt', 'AD Russell',
       'Mohammad Salman', 'S Dhawan', 'S Badrinath', 'MS Wade',
       'MR Marsh', 'HG Kuhn', 'BMAJ Mendis', 'MDK Perera', 'AJ Finch',
       'GJ Bailey', 'CJ McKay', 'XJ Doherty', 'RE Levi', 'KS Williamson',
       'C de Grandhomme', 'DAJ Bracewell', 'MK Tiwary', 'J Charles',
       'NE Bonner', 'CD Barnwell', 'DO Christian', 'D Bishoo',
       'MC Bascombe', 'JM Bairstow', 'BA Stokes', 'JC Buttler',
       'SG Borthwick', 'JW Dernbach', 'Awais Zia', 'Hammad Azam',
       'AB Barath', 'CR Brathwaite', 'Nasir Hossain', 'Elias Sunny',
       'F du Plessis', 'EMDY Munaweera', 'Nasir Jamshed',
       'HDRL Thirimanne', 'F Behardien', 'SP Narine', 'S Badree',
       'GJ Maxwell', 'PJ Cummins', 'MA Starc', 'DT Christian',
       'TWM Latham', 'AM Ellis', 'KS Lokuarachchi', 'Shakeel Ansar',
       'SMSM Senanayake', 'RMS Eranga', 'PP Chawla', 'HD Rutherford',
       'JP Faulkner', 'NM Coulter-Nile', 'CJ Anderson', 'JDS Neesham',
       'C Munro', 'RM Hira', 'MJ McClenaghan', 'H Davids', 'Q de Kock',
       'CH Morris', 'RK Kleinveldt', 'KJ Abbott', 'TA Boult',
       'GD Elliott', 'JC Tredwell', 'MDKJ Perera', 'BJ Rohrer',
       'BCJ Cutting', 'Anamul Haque', 'I Sharma', 'Shamsur Rahman',
       'Sohag Gazi', 'JE Root', 'MM Ali', 'Umar Amin', 'Haris Sohail',
       'NJ Maddinson', 'Sohaib Maqsood', 'Sharjeel Khan',
       'Bilawal Bhatti', 'S Prasanna', 'KOA Powell', 'CAK Walton',
       'JJ Roy', 'KDK Vithanage', 'MA Carberry', 'CJ Jordan',
       'AP Devcich', 'Ziaur Rahman', 'Mominul Haque', 'Sabbir Rahman',
       'JM Muirhead', 'Mohammad Mithun', 'Arafat Sunny', 'AK Perera',
       'RR Hendricks', 'RR Rossouw', 'D Wiese', 'Anwar Ali', 'Saad Nasim',
       'PJ Hughes', 'AR Nurse', 'SS Cottrell', 'SW Billings', 'DJ Willey',
       'MJ Santner', 'BR Dunk', 'NJ Reardon', 'R McLaren', 'SA Abbott',
       'Soumya Sarkar', 'Liton Das', 'Mustafizur Rahman', 'Rony Talukdar',
       'GH Worker', 'AM Phangiso', 'Mukhtar Ahmed', 'DM de Silva',
       'TAM Siriwardana', 'GSNFG Jayasuriya', 'MD Shanaka',
       'Mohammad Rizwan', 'UT Khawaja', 'PM Nevill', 'TM Head', 'CA Lynn',
       'KW Richardson', 'CJ Boyce', 'AJ Tye', 'JM Vince',
       'Rafatullah Mohmand', 'Imran Khan (1)', 'LE Plunkett', 'AT Rayudu',
       'AR Patel', 'B Kumar', 'MD Gunathilaka', 'BKG Mendis',
       'RLB Rambukwella', 'N Pradeep', 'Imad Wasim', 'TD Astle',
       'MJ Henry', 'JO Holder', 'JT Smuts', 'TB de Bruyn', 'M Mosehle',
       'N Dickwella', 'ST de Silva', 'AL Phehlukwayo', 'Imran Tahir',
       'DAS Gunaratne', 'HH Pandya', 'AC Agar', 'HMRKB Herath',
       'Shuvagata Hom', 'HM Nicholls', 'Al-Amin Hossain', 'JDF Vandersay',
       'RAS Lakmal', 'JJ Bumrah', 'PVD Chameera', 'Khurram Manzoor',
       'Mohammad Sami', 'Nurul Hasan', 'SS Pathirana', 'M Klinger',
       'AJ Turner', 'JA Richardson', 'JRMVB Sanjaya', 'Mosaddek Hossain',
       'TC Bruce', 'Rubel Hossain', 'GD Phillips', 'BM Wheeler',
       'LS Livingstone', 'DJ Malan', 'E Lewis', 'R Powell', 'KL Rahul',
       'MK Pandey', 'Parvez Rasool', 'A Mishra', 'TS Mills', 'N Pooran',
       'Babar Azam', 'TA Blundell', 'IS Sodhi', 'DJM Short', 'TK Curran',
       'MP Stoinis', 'MS Chapman', 'TL Seifert', 'LA Dawson',
       'Mehedi Hasan Miraz', 'Taskin Ahmed', 'Mohammad Saifuddin',
       'Fakhar Zaman', 'Shadab Khan', 'JN Mohammed', 'RR Pant',
       'KM Jadhav', 'AK Kitchen', 'SD Hope', 'KOK Williams', 'SO Hetmyer',
       'RR Emrit', 'Mohammad Nawaz (3)', 'Faheem Ashraf', 'Hasan Ali',
       'SHA Rance', 'Kuldeep Yadav', 'AT Carey', 'B Stanlake', 'SS Iyer',
       'S Samarawickrama', 'SMA Priyanjan', 'PC de Silva', 'H Klaasen',
       'D Paterson', 'C Jonker', 'A Dananjaya', 'MVT Fernando',
       'Zakir Hasan', 'Afif Hossain', 'Ariful Haque', 'Mahedi Hasan',
       'Abu Jayed', 'V Shankar', 'Hussain Talat', 'Asif Ali', 'KMA Paul',
       'OF Smith', 'AM McCarthy', 'PHKD Mendis', 'MA Aponso', 'K Rabada',
       'L Ngidi', 'T Shamsi', 'Sahibzada Farhan', 'GL Cloete',
       'HE van der Dussen', 'JN Malan', 'BE Hendricks', 'CJ Dala',
       'L Sipamla', 'WIA Fernando', 'AK Markram', 'BR McDermott',
       'KH Pandya', 'Nazmul Islam', 'Imam-ul-Haq', 'BM Duckett',
       'FA Allen', 'O Thomas', 'SE Rutherford', 'DJ Mitchell',
       'YS Chahal', 'CBRLS Kumara', 'CAK Rajitha', 'A Zampa',
       'LH Ferguson', 'K Pierre', 'JD Campbell', 'OC McCoy', 'UT Yadav',
       'PSP Handscomb', 'PBB Rajapaksa', 'BOP Fernando', 'PWH de Silva',
       'PADLR Sandakan', 'Khushdil Shah', 'Iftikhar Ahmed', 'T Bavuma',
       'D Pretorius', 'BC Fortuin', 'PJ van Biljon', 'A Nortje',
       'Washington Sundar', 'S Dube', 'Mohammad Naim',
       'Aminul Islam Biplob', 'BA King', 'HR Walsh', 'SM Curran',
       'L Gregory', 'S Mahmood', 'T Banton', 'SV Samson', 'SN Thakur',
       'SC Kuggeleijn', 'LD Madushanka', 'Haider Ali', 'M Bhanuka',
       'Mohammad Hasnain', 'Ahsan Ali', 'DP Conway', 'KR Mayers',
       'Abdullah Shafique', 'JR Philippe', 'DR Sams', 'KA Jamieson',
       'FH Allen', 'WA Young', 'Shoriful Islam', 'Nazmul Hossain Shanto',
       'Nasum Ahmed', 'GF Linde', 'MW Parkinson', 'Azam Khan',
       'Shaheen Shah Afridi', 'Haris Rauf', 'GJ Snyman', 'Ishan Kishan',
       'SA Yadav', 'JC Archer', 'B Fernando', 'WJ Lubbe', 'Usman Qadir',
       'PWA Mulder', 'SSB Magala', 'P Nissanka', 'KNA Bandara',
       'K Sinclair', 'HC Brook', 'GHS Garton', 'PD Salt', 'R Shepherd',
       'PP Shaw', 'KIC Asalanka', 'C Karunaratne', 'RD Gaikwad',
       'D Padikkal', 'N Rana', 'RTM Mendis', 'RD Chahar', 'CV Varun',
       'JR Hazlewood', 'JP Behrendorff', 'JP Inglis', 'M Theekshana',
       'K Mishara', 'J Liyanage', 'Shamim Hossain', 'NT Ellis',
       'R Ravindra', 'CE McConchie', 'AY Patel', 'JA Duffy', 'BM Tickner',
       'KA Maharaj', 'R Rampaul', 'RL Chase', 'DJ Hooda', 'HV Patel',
       'RJW Topley', 'RJ Gleeson', 'Ravi Bishnoi', 'T Stubbs',
       'Saif Hassan', 'VR Iyer', 'AF Milne', 'AJ Hosein', 'DC Drakes',
       'M Jansen', 'DC Thomas', 'SSJ Brooks', 'Mohammad Wasim',
       'M Labuschagne', 'C Green', 'TH David', 'Hasan Mahmud',
       'Mohammed Shami', 'Yasir Ali Chowdhury', 'Mohammad Haris',
       'Shan Masood', 'Munim Shahriar', 'RA Reifer', 'AS Joseph',
       'Avesh Khan', 'MG Bracewell', 'Naseem Shah', 'WG Jacks',
       'OP Stone', 'Aamer Jamal', 'Shahnawaz Dhani', 'DL Chahar',
       'Mohammed Siraj', 'Shubman Gill', 'D Madushanka', 'RA Tripathi',
       'Shivam Mavi'], dtype=object)

In [25]:
df['player_dismissed'] = np.where(df['player_dismissed']==0, 0, 1)

In [26]:
tmp = df.groupby(['id', 'innings'])['player_dismissed'].rolling(min_periods=1, window=30).sum().reset_index()

In [27]:
df['prev_30_wickets'] = tmp['player_dismissed'].to_list()
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets
63598,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0
63599,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0
63600,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0
63601,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0
63602,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0

### Wickets fallen till current ball

In [28]:
df['total_wickets'] = df.groupby(['id', 'innings'])['player_dismissed'].apply(lambda x: x.cumsum())
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets
63598,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0,0
63599,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0,0
63600,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0,0
63601,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0,0
63602,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0,0

### Dot balls in the previous 30 balls

In [29]:
df['prev_30_dot_balls'] = df['total_runs']
df['prev_30_dot_balls'] = np.where(df['prev_30_dot_balls']==0, 1, 0)

tmp = df.groupby(['id', 'innings'])['prev_30_dot_balls'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_dot_balls'] = tmp['prev_30_dot_balls'].to_list()
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls
63598,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0,0,1.0
63599,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0,0,1.0
63600,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0,0,2.0
63601,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0,0,3.0
63602,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0,0,4.0

### Boundaries (4s + 6s) in the previous 30 balls

In [30]:
df['prev_30_boundaries'] = df['total_runs']
df['prev_30_boundaries'] = np.where(df['prev_30_boundaries']>3, 1, 0)

tmp = df.groupby(['id', 'innings'])['prev_30_boundaries'].rolling(min_periods=1, window=30).sum().reset_index()
df['prev_30_boundaries'] = tmp['prev_30_boundaries'].to_list()
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries
63598,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0,0,1.0,0.0
63599,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0,0,1.0,0.0
63600,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0,0,2.0,0.0
63601,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0,0,3.0,0.0
63602,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0,0,4.0,0.0

### Run Rate till current ball

In [31]:
df['total_balls'] = df['over']*6 + df['ball']
df['run_rate'] = 6*df['total_score']/df['total_balls']
df.head()

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate
63598,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0,0,1.0,0.0,1,0.0
63599,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0,0,1.0,0.0,2,3.0
63600,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0,0,2.0,0.0,3,2.0
63601,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0,0,3.0,0.0,4,1.5
63602,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0,0,4.0,0.0,5,1.2

### Run Rate in previous 30 balls

In [32]:
df['prev_30_run_rate'] = np.where(df['total_balls']<31, 6*df['total_score']/df['total_balls'], 6*df['prev_30_runs']/30)
df.head(100)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate
63598,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0,0,1.0,0.0,1,0.000000,0.000000
63599,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0,0,1.0,0.0,2,3.000000,3.000000
63600,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0,0,2.0,0.0,3,2.000000,2.000000
63601,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0,0,3.0,0.0,4,1.500000,1.500000
63602,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0,0,4.0,0.0,5,1.200000,1.200000
63603,211028,1,England,Australia,0.6,0,6,1,0,179,2,2.0,0.0,0,4.0,0.0,6,2.000000,2.000000
63604,211028,1,England,Australia,0.7,0,7,2,0,179,4,4.0,0.0,0,4.0,0.0,7,3.428571,3.428571
63605,211028,1,England,Australia,1.1,1,1,0,0,179,4,4.0,0.0,0,5.0,0.0,7,3.428571,3.428571
63606,211028,1,England,Australia,1.2,1,2,0,0,179,4,4.0,0.0,0,6.0,0.0,8,3.000000,3.000000
63607,211028,1,England,Australia,1.3,1,3,1,0,179,5,5.0,0.0,0,6.0,0.0,9,3.333333,3.333333
63608,211028,1,England,Australia,1.4,1,4,0,0,179,5,5.0,0.0,0,7.0,0.0,10,3.000000,3.000000
63609,211028,1,England,Australia,1.5,1,5,0,0,179,5,5.0,0.0,0,8.0,0.0,11,2.727273,2.727273
63610,211028,1,England,Australia,1.6,1,6,0,0,179,5,5.0,0.0,0,9.0,0.0,12,2.500000,2.500000
63611,211028,1,England,Australia,1.7,1,7,1,0,179,6,6.0,0.0,0,9.0,0.0,13,2.769231,2.769231
63612,211028,1,England,Australia,2.1,2,1,4,0,179,10,10.0,0.0,0,9.0,1.0,13,4.615385,4.615385
63613,211028,1,England,Australia,2.2,2,2,1,0,179,11,11.0,0.0,0,9.0,1.0,14,4.714286,4.714286
63614,211028,1,England,Australia,2.3,2,3,0,0,179,11,11.0,0.0,0,10.0,1.0,15,4.400000,4.400000
63615,211028,1,England,Australia,2.4,2,4,4,0,179,15,15.0,0.0,0,10.0,2.0,16,5.625000,5.625000
63616,211028,1,England,Australia,2.5,2,5,4,0,179,19,19.0,0.0,0,10.0,3.0,17,6.705882,6.705882
63617,211028,1,England,Australia,2.6,2,6,1,0,179,20,20.0,0.0,0,10.0,3.0,18,6.666667,6.666667
63618,211028,1,England,Australia,3.1,3,1,0,0,179,20,20.0,0.0,0,11.0,3.0,19,6.315789,6.315789
63619,211028,1,England,Australia,3.2,3,2,4,0,179,24,24.0,0.0,0,11.0,4.0,20,7.200000,7.200000
63620,211028,1,England,Australia,3.3,3,3,4,0,179,28,28.0,0.0,0,11.0,5.0,21,8.000000,8.000000
63621,211028,1,England,Australia,3.4,3,4,0,0,179,28,28.0,0.0,0,12.0,5.0,22,7.636364,7.636364
63622,211028,1,England,Australia,3.5,3,5,0,1,179,28,28.0,1.0,1,13.0,5.0,23,7.304348,7.304348
63623,211028,1,England,Australia,3.6,3,6,1,0,179,29,29.0,1.0,1,13.0,5.0,24,7.250000,7.250000
63624,211028,1,England,Australia,4.1,4,1,1,0,179,30,30.0,1.0,1,13.0,5.0,25,7.200000,7.200000
63625,211028,1,England,Australia,4.2,4,2,2,0,179,32,32.0,1.0,1,13.0,5.0,26,7.384615,7.384615
63626,211028,1,England,Australia,4.3,4,3,4,0,179,36,36.0,1.0,1,13.0,6.0,27,8.000000,8.000000
63627,211028,1,England,Australia,4.4,4,4,1,0,179,37,37.0,1.0,1,13.0,6.0,28,7.928571,7.928571
63628,211028,1,England,Australia,4.5,4,5,1,0,179,38,38.0,1.0,1,12.0,6.0,29,7.862069,7.862069
63629,211028,1,England,Australia,4.6,4,6,1,0,179,39,38.0,1.0,1,12.0,6.0,30,7.800000,7.800000
63630,211028,1,England,Australia,4.7,4,7,1,0,179,40,39.0,1.0,1,11.0,6.0,31,7.741935,7.800000
63631,211028,1,England,Australia,4.8,4,8,3,0,179,43,42.0,1.0,1,10.0,6.0,32,8.062500,8.400000
63632,211028,1,England,Australia,5.1,5,1,1,0,179,44,43.0,1.0,1,9.0,6.0,31,8.516129,8.600000
63633,211028,1,England,Australia,5.2,5,2,0,0,179,44,42.0,1.0,1,10.0,6.0,32,8.250000,8.400000
63634,211028,1,England,Australia,5.3,5,3,4,0,179,48,44.0,1.0,1,10.0,7.0,33,8.727273,8.800000
63635,211028,1,England,Australia,5.4,5,4,1,0,179,49,45.0,1.0,1,9.0,7.0,34,8.647059,9.000000
63636,211028,1,England,Australia,5.5,5,5,0,1,179,49,45.0,2.0,2,9.0,7.0,35,8.400000,9.000000
63637,211028,1,England,Australia,5.6,5,6,1,0,179,50,45.0,2.0,2,9.0,7.0,36,8.333333,9.000000
63638,211028,1,England,Australia,6.1,6,1,1,0,179,51,46.0,2.0,2,8.0,7.0,37,8.270270,9.200000
63639,211028,1,England,Australia,6.2,6,2,0,0,179,51,46.0,2.0,2,8.0,7.0,38,8.052632,9.200000
63640,211028,1,England,Australia,6.3,6,3,1,0,179,52,47.0,2.0,2,7.0,7.0,39,8.000000,9.400000
63641,211028,1,England,Australia,6.4,6,4,0,0,179,52,46.0,2.0,2,8.0,7.0,40,7.800000,9.200000
63642,211028,1,England,Australia,6.5,6,5,4,0,179,56,46.0,2.0,2,8.0,7.0,41,8.195122,9.200000
63643,211028,1,England,Australia,6.6,6,6,2,0,179,58,47.0,2.0,2,8.0,7.0,42,8.285714,9.400000
63644,211028,1,England,Australia,7.1,7,1,1,0,179,59,48.0,2.0,2,7.0,7.0,43,8.232558,9.600000
63645,211028,1,England,Australia,7.2,7,2,4,0,179,63,48.0,2.0,2,7.0,7.0,44,8.590909,9.600000
63646,211028,1,England,Australia,7.3,7,3,2,0,179,65,46.0,2.0,2,7.0,6.0,45,8.666667,9.200000
63647,211028,1,England,Australia,7.4,7,4,1,0,179,66,46.0,2.0,2,7.0,6.0,46,8.608696,9.200000
63648,211028,1,England,Australia,7.5,7,5,1,0,179,67,47.0,2.0,2,6.0,6.0,47,8.553191,9.400000
63649,211028,1,England,Australia,7.6,7,6,1,0,179,68,44.0,2.0,2,6.0,5.0,48,8.500000,8.800000
63650,211028,1,England,Australia,8.1,8,1,1,0,179,69,41.0,2.0,2,6.0,4.0,49,8.448980,8.200000
63651,211028,1,England,Australia,8.2,8,2,1,0,179,70,42.0,2.0,2,5.0,4.0,50,8.400000,8.400000
63652,211028,1,England,Australia,8.3,8,3,1,0,179,71,43.0,1.0,2,4.0,4.0,51,8.352941,8.600000
63653,211028,1,England,Australia,8.4,8,4,4,0,179,75,46.0,1.0,2,4.0,5.0,52,8.653846,9.200000
63654,211028,1,England,Australia,8.5,8,5,1,0,179,76,46.0,1.0,2,4.0,5.0,53,8.603774,9.200000
63655,211028,1,England,Australia,8.6,8,6,6,0,179,82,50.0,1.0,2,4.0,6.0,54,9.111111,10.000000
63656,211028,1,England,Australia,9.1,9,1,1,0,179,83,47.0,1.0,2,4.0,5.0,55,9.054545,9.400000
63657,211028,1,England,Australia,9.2,9,2,2,0,179,85,48.0,1.0,2,4.0,5.0,56,9.107143,9.600000
63658,211028,1,England,Australia,9.3,9,3,4,0,179,89,51.0,1.0,2,4.0,6.0,57,9.368421,10.200000
63659,211028,1,England,Australia,9.4,9,4,1,0,179,90,51.0,1.0,2,4.0,6.0,58,9.310345,10.200000
63660,211028,1,England,Australia,9.5,9,5,1,0,179,91,51.0,1.0,2,4.0,6.0,59,9.254237,10.200000
63661,211028,1,England,Australia,9.6,9,6,2,0,179,93,50.0,1.0,2,4.0,6.0,60,9.300000,10.000000
63662,211028,1,England,Australia,10.1,10,1,1,0,179,94,50.0,1.0,2,4.0,6.0,61,9.245902,10.000000
63663,211028,1,England,Australia,10.2,10,2,1,0,179,95,51.0,1.0,2,3.0,6.0,62,9.193548,10.200000
63664,211028,1,England,Australia,10.3,10,3,4,0,179,99,51.0,1.0,2,3.0,6.0,63,9.428571,10.200000
63665,211028,1,England,Australia,10.4,10,4,1,0,179,100,51.0,1.0,2,3.0,6.0,64,9.375000,10.200000
63666,211028,1,England,Australia,10.5,10,5,0,1,179,100,51.0,1.0,3,3.0,6.0,65,9.230769,10.200000
63667,211028,1,England,Australia,10.6,10,6,1,0,179,101,51.0,1.0,3,3.0,6.0,66,9.181818,10.200000
63668,211028,1,England,Australia,11.1,11,1,1,0,179,102,51.0,1.0,3,3.0,6.0,67,9.134328,10.200000
63669,211028,1,England,Australia,11.2,11,2,0,1,179,102,51.0,2.0,4,3.0,6.0,68,9.000000,10.200000
63670,211028,1,England,Australia,11.3,11,3,0,0,179,102,50.0,2.0,4,4.0,6.0,69,8.869565,10.000000
63671,211028,1,England,Australia,11.4,11,4,1,0,179,103,51.0,2.0,4,3.0,6.0,70,8.828571,10.200000
63672,211028,1,England,Australia,11.5,11,5,1,0,179,104,48.0,2.0,4,3.0,5.0,71,8.788732,9.600000
63673,211028,1,England,Australia,11.6,11,6,1,0,179,105,47.0,2.0,4,3.0,5.0,72,8.750000,9.400000
63674,211028,1,England,Australia,12.1,12,1,1,0,179,106,47.0,2.0,4,3.0,5.0,73,8.712329,9.400000
63675,211028,1,England,Australia,12.2,12,2,0,0,179,106,43.0,2.0,4,4.0,4.0,74,8.594595,8.600000
63676,211028,1,England,Australia,12.3,12,3,1,0,179,107,42.0,2.0,4,4.0,4.0,75,8.560000,8.400000
63677,211028,1,England,Australia,12.4,12,4,0,0,179,107,41.0,2.0,4,5.0,4.0,76,8.447368,8.200000
63678,211028,1,England,Australia,12.5,12,5,1,0,179,108,41.0,2.0,4,5.0,4.0,77,8.415584,8.200000
63679,211028,1,England,Australia,12.6,12,6,1,0,179,109,41.0,2.0,4,5.0,4.0,78,8.384615,8.200000
63680,211028,1,England,Australia,13.1,13,1,0,1,179,109,40.0,3.0,5,6.0,4.0,79,8.278481,8.000000
63681,211028,1,England,Australia,13.2,13,2,0,0,179,109,39.0,3.0,5,7.0,4.0,80,8.175000,7.800000
63682,211028,1,England,Australia,13.3,13,3,1,0,179,110,39.0,3.0,5,7.0,4.0,81,8.148148,7.800000
63683,211028,1,England,Australia,13.4,13,4,0,0,179,110,35.0,3.0,5,8.0,3.0,82,8.048780,7.000000
63684,211028,1,England,Australia,13.5,13,5,1,0,179,111,35.0,3.0,5,8.0,3.0,83,8.024096,7.000000
63685,211028,1,England,Australia,13.6,13,6,0,0,179,111,29.0,3.0,5,9.0,2.0,84,7.928571,5.800000
63686,211028,1,England,Australia,14.1,14,1,3,0,179,114,31.0,3.0,5,9.0,2.0,85,8.047059,6.200000
63687,211028,1,England,Australia,14.2,14,2,2,0,179,116,31.0,3.0,5,9.0,2.0,86,8.093023,6.200000
63688,211028,1,England,Australia,14.3,14,3,1,0,179,117,28.0,3.0,5,9.0,1.0,87,8.068966,5.600000
63689,211028,1,England,Australia,14.4,14,4,0,0,179,117,27.0,3.0,5,10.0,1.0,88,7.977273,5.400000
63690,211028,1,England,Australia,14.5,14,5,1,0,179,118,27.0,3.0,5,10.0,1.0,89,7.955056,5.400000
63691,211028,1,England,Australia,14.6,14,6,6,0,179,124,31.0,3.0,5,10.0,2.0,90,8.266667,6.200000
63692,211028,1,England,Australia,15.1,15,1,1,0,179,125,31.0,3.0,5,10.0,2.0,91,8.241758,6.200000
63693,211028,1,England,Australia,15.2,15,2,1,0,179,126,31.0,3.0,5,10.0,2.0,92,8.217391,6.200000
63694,211028,1,England,Australia,15.3,15,3,0,0,179,126,27.0,3.0,5,11.0,1.0,93,8.129032,5.400000
63695,211028,1,England,Australia,15.4,15,4,1,0,179,127,27.0,3.0,5,11.0,1.0,94,8.106383,5.400000
63696,211028,1,England,Australia,15.5,15,5,4,0,179,131,31.0,2.0,5,10.0,2.0,95,8.273684,6.200000
63697,211028,1,England,Australia,15.6,15,6,1,0,179,132,31.0,2.0,5,10.0,2.0,96,8.250000,6.200000

### Strike Rate in previous 30 balls

In [33]:
df['prev_30_strike_rate'] = np.where(df['total_balls']<31, 100*df['total_score']/df['total_balls'], 100*df['prev_30_runs']/30)
df.head(100)

,id,innings,batting_team,bowling_team,overs,over,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dot_balls,prev_30_boundaries,total_balls,run_rate,prev_30_run_rate,prev_30_strike_rate
63598,211028,1,England,Australia,0.1,0,1,0,0,179,0,0.0,0.0,0,1.0,0.0,1,0.000000,0.000000,0.000000
63599,211028,1,England,Australia,0.2,0,2,1,0,179,1,1.0,0.0,0,1.0,0.0,2,3.000000,3.000000,50.000000
63600,211028,1,England,Australia,0.3,0,3,0,0,179,1,1.0,0.0,0,2.0,0.0,3,2.000000,2.000000,33.333333
63601,211028,1,England,Australia,0.4,0,4,0,0,179,1,1.0,0.0,0,3.0,0.0,4,1.500000,1.500000,25.000000
63602,211028,1,England,Australia,0.5,0,5,0,0,179,1,1.0,0.0,0,4.0,0.0,5,1.200000,1.200000,20.000000
63603,211028,1,England,Australia,0.6,0,6,1,0,179,2,2.0,0.0,0,4.0,0.0,6,2.000000,2.000000,33.333333
63604,211028,1,England,Australia,0.7,0,7,2,0,179,4,4.0,0.0,0,4.0,0.0,7,3.428571,3.428571,57.142857
63605,211028,1,England,Australia,1.1,1,1,0,0,179,4,4.0,0.0,0,5.0,0.0,7,3.428571,3.428571,57.142857
63606,211028,1,England,Australia,1.2,1,2,0,0,179,4,4.0,0.0,0,6.0,0.0,8,3.000000,3.000000,50.000000
63607,211028,1,England,Australia,1.3,1,3,1,0,179,5,5.0,0.0,0,6.0,0.0,9,3.333333,3.333333,55.555556
63608,211028,1,England,Australia,1.4,1,4,0,0,179,5,5.0,0.0,0,7.0,0.0,10,3.000000,3.000000,50.000000
63609,211028,1,England,Australia,1.5,1,5,0,0,179,5,5.0,0.0,0,8.0,0.0,11,2.727273,2.727273,45.454545
63610,211028,1,England,Australia,1.6,1,6,0,0,179,5,5.0,0.0,0,9.0,0.0,12,2.500000,2.500000,41.666667
63611,211028,1,England,Australia,1.7,1,7,1,0,179,6,6.0,0.0,0,9.0,0.0,13,2.769231,2.769231,46.153846
63612,211028,1,England,Australia,2.1,2,1,4,0,179,10,10.0,0.0,0,9.0,1.0,13,4.615385,4.615385,76.923077
63613,211028,1,England,Australia,2.2,2,2,1,0,179,11,11.0,0.0,0,9.0,1.0,14,4.714286,4.714286,78.571429
63614,211028,1,England,Australia,2.3,2,3,0,0,179,11,11.0,0.0,0,10.0,1.0,15,4.400000,4.400000,73.333333
63615,211028,1,England,Australia,2.4,2,4,4,0,179,15,15.0,0.0,0,10.0,2.0,16,5.625000,5.625000,93.750000
63616,211028,1,England,Australia,2.5,2,5,4,0,179,19,19.0,0.0,0,10.0,3.0,17,6.705882,6.705882,111.764706
63617,211028,1,England,Australia,2.6,2,6,1,0,179,20,20.0,0.0,0,10.0,3.0,18,6.666667,6.666667,111.111111
63618,211028,1,England,Australia,3.1,3,1,0,0,179,20,20.0,0.0,0,11.0,3.0,19,6.315789,6.315789,105.263158
63619,211028,1,England,Australia,3.2,3,2,4,0,179,24,24.0,0.0,0,11.0,4.0,20,7.200000,7.200000,120.000000
63620,211028,1,England,Australia,3.3,3,3,4,0,179,28,28.0,0.0,0,11.0,5.0,21,8.000000,8.000000,133.333333
63621,211028,1,England,Australia,3.4,3,4,0,0,179,28,28.0,0.0,0,12.0,5.0,22,7.636364,7.636364,127.272727
63622,211028,1,England,Australia,3.5,3,5,0,1,179,28,28.0,1.0,1,13.0,5.0,23,7.304348,7.304348,121.739130
63623,211028,1,England,Australia,3.6,3,6,1,0,179,29,29.0,1.0,1,13.0,5.0,24,7.250000,7.250000,120.833333
63624,211028,1,England,Australia,4.1,4,1,1,0,179,30,30.0,1.0,1,13.0,5.0,25,7.200000,7.200000,120.000000
63625,211028,1,England,Australia,4.2,4,2,2,0,179,32,32.0,1.0,1,13.0,5.0,26,7.384615,7.384615,123.076923
63626,211028,1,England,Australia,4.3,4,3,4,0,179,36,36.0,1.0,1,13.0,6.0,27,8.000000,8.000000,133.333333
63627,211028,1,England,Australia,4.4,4,4,1,0,179,37,37.0,1.0,1,13.0,6.0,28,7.928571,7.928571,132.142857
63628,211028,1,England,Australia,4.5,4,5,1,0,179,38,38.0,1.0,1,12.0,6.0,29,7.862069,7.862069,131.034483
63629,211028,1,England,Australia,4.6,4,6,1,0,179,39,38.0,1.0,1,12.0,6.0,30,7.800000,7.800000,130.000000
63630,211028,1,England,Australia,4.7,4,7,1,0,179,40,39.0,1.0,1,11.0,6.0,31,7.741935,7.800000,130.000000
63631,211028,1,England,Australia,4.8,4,8,3,0,179,43,42.0,1.0,1,10.0,6.0,32,8.062500,8.400000,140.000000
63632,211028,1,England,Australia,5.1,5,1,1,0,179,44,43.0,1.0,1,9.0,6.0,31,8.516129,8.600000,143.333333
63633,211028,1,England,Australia,5.2,5,2,0,0,179,44,42.0,1.0,1,10.0,6.0,32,8.250000,8.400000,140.000000
63634,211028,1,England,Australia,5.3,5,3,4,0,179,48,44.0,1.0,1,10.0,7.0,33,8.727273,8.800000,146.666667
63635,211028,1,England,Australia,5.4,5,4,1,0,179,49,45.0,1.0,1,9.0,7.0,34,8.647059,9.000000,150.000000
63636,211028,1,England,Australia,5.5,5,5,0,1,179,49,45.0,2.0,2,9.0,7.0,35,8.400000,9.000000,150.000000
63637,211028,1,England,Australia,5.6,5,6,1,0,179,50,45.0,2.0,2,9.0,7.0,36,8.333333,9.000000,150.000000
63638,211028,1,England,Australia,6.1,6,1,1,0,179,51,46.0,2.0,2,8.0,7.0,37,8.270270,9.200000,153.333333
63639,211028,1,England,Australia,6.2,6,2,0,0,179,51,46.0,2.0,2,8.0,7.0,38,8.052632,9.200000,153.333333
63640,211028,1,England,Australia,6.3,6,3,1,0,179,52,47.0,2.0,2,7.0,7.0,39,8.000000,9.400000,156.666667
63641,211028,1,England,Australia,6.4,6,4,0,0,179,52,46.0,2.0,2,8.0,7.0,40,7.800000,9.200000,153.333333
63642,211028,1,England,Australia,6.5,6,5,4,0,179,56,46.0,2.0,2,8.0,7.0,41,8.195122,9.200000,153.333333
63643,211028,1,England,Australia,6.6,6,6,2,0,179,58,47.0,2.0,2,8.0,7.0,42,8.285714,9.400000,156.666667
63644,211028,1,England,Australia,7.1,7,1,1,0,179,59,48.0,2.0,2,7.0,7.0,43,8.232558,9.600000,160.000000
63645,211028,1,England,Australia,7.2,7,2,4,0,179,63,48.0,2.0,2,7.0,7.0,44,8.590909,9.600000,160.000000
63646,211028,1,England,Australia,7.3,7,3,2,0,179,65,46.0,2.0,2,7.0,6.0,45,8.666667,9.200000,153.333333
63647,211028,1,England,Australia,7.4,7,4,1,0,179,66,46.0,2.0,2,7.0,6.0,46,8.608696,9.200000,153.333333
63648,211028,1,England,Australia,7.5,7,5,1,0,179,67,47.0,2.0,2,6.0,6.0,47,8.553191,9.400000,156.666667
63649,211028,1,England,Australia,7.6,7,6,1,0,179,68,44.0,2.0,2,6.0,5.0,48,8.500000,8.800000,146.666667
63650,211028,1,England,Australia,8.1,8,1,1,0,179,69,41.0,2.0,2,6.0,4.0,49,8.448980,8.200000,136.666667
63651,211028,1,England,Australia,8.2,8,2,1,0,179,70,42.0,2.0,2,5.0,4.0,50,8.400000,8.400000,140.000000
63652,211028,1,England,Australia,8.3,8,3,1,0,179,71,43.0,1.0,2,4.0,4.0,51,8.352941,8.600000,143.333333
63653,211028,1,England,Australia,8.4,8,4,4,0,179,75,46.0,1.0,2,4.0,5.0,52,8.653846,9.200000,153.333333
63654,211028,1,England,Australia,8.5,8,5,1,0,179,76,46.0,1.0,2,4.0,5.0,53,8.603774,9.200000,153.333333
63655,211028,1,England,Australia,8.6,8,6,6,0,179,82,50.0,1.0,2,4.0,6.0,54,9.111111,10.000000,166.666667
63656,211028,1,England,Australia,9.1,9,1,1,0,179,83,47.0,1.0,2,4.0,5.0,55,9.054545,9.400000,156.666667
63657,211028,1,England,Australia,9.2,9,2,2,0,179,85,48.0,1.0,2,4.0,5.0,56,9.107143,9.600000,160.000000
63658,211028,1,England,Australia,9.3,9,3,4,0,179,89,51.0,1.0,2,4.0,6.0,57,9.368421,10.200000,170.000000
63659,211028,1,England,Australia,9.4,9,4,1,0,179,90,51.0,1.0,2,4.0,6.0,58,9.310345,10.200000,170.000000
63660,211028,1,England,Australia,9.5,9,5,1,0,179,91,51.0,1.0,2,4.0,6.0,59,9.254237,10.200000,170.000000
63661,211028,1,England,Australia,9.6,9,6,2,0,179,93,50.0,1.0,2,4.0,6.0,60,9.300000,10.000000,166.666667
63662,211028,1,England,Australia,10.1,10,1,1,0,179,94,50.0,1.0,2,4.0,6.0,61,9.245902,10.000000,166.666667
63663,211028,1,England,Australia,10.2,10,2,1,0,179,95,51.0,1.0,2,3.0,6.0,62,9.193548,10.200000,170.000000
63664,211028,1,England,Australia,10.3,10,3,4,0,179,99,51.0,1.0,2,3.0,6.0,63,9.428571,10.200000,170.000000
63665,211028,1,England,Australia,10.4,10,4,1,0,179,100,51.0,1.0,2,3.0,6.0,64,9.375000,10.200000,170.000000
63666,211028,1,England,Australia,10.5,10,5,0,1,179,100,51.0,1.0,3,3.0,6.0,65,9.230769,10.200000,170.000000
63667,211028,1,England,Australia,10.6,10,6,1,0,179,101,51.0,1.0,3,3.0,6.0,66,9.181818,10.200000,170.000000
63668,211028,1,England,Australia,11.1,11,1,1,0,179,102,51.0,1.0,3,3.0,6.0,67,9.134328,10.200000,170.000000
63669,211028,1,England,Australia,11.2,11,2,0,1,179,102,51.0,2.0,4,3.0,6.0,68,9.000000,10.200000,170.000000
63670,211028,1,England,Australia,11.3,11,3,0,0,179,102,50.0,2.0,4,4.0,6.0,69,8.869565,10.000000,166.666667
63671,211028,1,England,Australia,11.4,11,4,1,0,179,103,51.0,2.0,4,3.0,6.0,70,8.828571,10.200000,170.000000
63672,211028,1,England,Australia,11.5,11,5,1,0,179,104,48.0,2.0,4,3.0,5.0,71,8.788732,9.600000,160.000000
63673,211028,1,England,Australia,11.6,11,6,1,0,179,105,47.0,2.0,4,3.0,5.0,72,8.750000,9.400000,156.666667
63674,211028,1,England,Australia,12.1,12,1,1,0,179,106,47.0,2.0,4,3.0,5.0,73,8.712329,9.400000,156.666667
63675,211028,1,England,Australia,12.2,12,2,0,0,179,106,43.0,2.0,4,4.0,4.0,74,8.594595,8.600000,143.333333
63676,211028,1,England,Australia,12.3,12,3,1,0,179,107,42.0,2.0,4,4.0,4.0,75,8.560000,8.400000,140.000000
63677,211028,1,England,Australia,12.4,12,4,0,0,179,107,41.0,2.0,4,5.0,4.0,76,8.447368,8.200000,136.666667
63678,211028,1,England,Australia,12.5,12,5,1,0,179,108,41.0,2.0,4,5.0,4.0,77,8.415584,8.200000,136.666667
63679,211028,1,England,Australia,12.6,12,6,1,0,179,109,41.0,2.0,4,5.0,4.0,78,8.384615,8.200000,136.666667
63680,211028,1,England,Australia,13.1,13,1,0,1,179,109,40.0,3.0,5,6.0,4.0,79,8.278481,8.000000,133.333333
63681,211028,1,England,Australia,13.2,13,2,0,0,179,109,39.0,3.0,5,7.0,4.0,80,8.175000,7.800000,130.000000
63682,211028,1,England,Australia,13.3,13,3,1,0,179,110,39.0,3.0,5,7.0,4.0,81,8.148148,7.800000,130.000000
63683,211028,1,England,Australia,13.4,13,4,0,0,179,110,35.0,3.0,5,8.0,3.0,82,8.048780,7.000000,116.666667
63684,211028,1,England,Australia,13.5,13,5,1,0,179,111,35.0,3.0,5,8.0,3.0,83,8.024096,7.000000,116.666667
63685,211028,1,England,Australia,13.6,13,6,0,0,179,111,29.0,3.0,5,9.0,2.0,84,7.928571,5.800000,96.666667
63686,211028,1,England,Australia,14.1,14,1,3,0,179,114,31.0,3.0,5,9.0,2.0,85,8.047059,6.200000,103.333333
63687,211028,1,England,Australia,14.2,14,2,2,0,179,116,31.0,3.0,5,9.0,2.0,86,8.093023,6.200000,103.333333
63688,211028,1,England,Australia,14.3,14,3,1,0,179,117,28.0,3.0,5,9.0,1.0,87,8.068966,5.600000,93.333333
63689,211028,1,England,Australia,14.4,14,4,0,0,179,117,27.0,3.0,5,10.0,1.0,88,7.977273,5.400000,90.000000
63690,211028,1,England,Australia,14.5,14,5,1,0,179,118,27.0,3.0,5,10.0,1.0,89,7.955056,5.400000,90.000000
63691,211028,1,England,Australia,14.6,14,6,6,0,179,124,31.0,3.0,5,10.0,2.0,90,8.266667,6.200000,103.333333
63692,211028,1,England,Australia,15.1,15,1,1,0,179,125,31.0,3.0,5,10.0,2.0,91,8.241758,6.200000,103.333333
63693,211028,1,England,Australia,15.2,15,2,1,0,179,126,31.0,3.0,5,10.0,2.0,92,8.217391,6.200000,103.333333
63694,211028,1,England,Australia,15.3,15,3,0,0,179,126,27.0,3.0,5,11.0,1.0,93,8.129032,5.400000,90.000000
63695,211028,1,England,Australia,15.4,15,4,1,0,179,127,27.0,3.0,5,11.0,1.0,94,8.106383,5.400000,90.000000
63696,211028,1,England,Australia,15.5,15,5,4,0,179,131,31.0,2.0,5,10.0,2.0,95,8.273684,6.200000,103.333333
63697,211028,1,England,Australia,15.6,15,6,1,0,179,132,31.0,2.0,5,10.0,2.0,96,8.250000,6.200000,103.333333

In [34]:
df.columns

Index(['id', 'innings', 'batting_team', 'bowling_team', 'overs', 'over',
       'ball', 'total_runs', 'player_dismissed', 'total', 'total_score',
       'prev_30_runs', 'prev_30_wickets', 'total_wickets', 'prev_30_dot_balls',
       'prev_30_boundaries', 'total_balls', 'run_rate', 'prev_30_run_rate',
       'prev_30_strike_rate'],
      dtype='object')

In [35]:
convert_dict = {'prev_30_runs': int,
                'prev_30_wickets': int,
                'prev_30_dot_balls': int,
                'prev_30_boundaries': int,
                'prev_30_run_rate': int,
                'prev_30_strike_rate': int
               }
df = df.astype(convert_dict)

In [36]:
df.to_csv('../Material/T20Is_Featured.csv', index=None)